name: ROS2 CI

on:
  push:
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    container:
      image: osrf/ros:humble-desktop

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        apt update
        apt install -y python3-colcon-common-extensions

    - name: Build
      run: |
        cd ros2_ws/src
        mv * /ros2_ws/src || true
        cd /ros2_ws
        colcon build

    - name: Source and Test
      run: |
        source /ros2_ws/install/setup.bash
        cd /ros2_ws/src/mypkg
        ./test.bash

